@font-face {
  font-family: "sfm";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "sfl";
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "sfb";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "sfbl";
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "sfr";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: sfr;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}
@media screen and (max-width: 1270px) {
  .container {
    padding: 0px 15px;
  }
}

.header {
  background: rgba(0, 0, 0, 0.92);
  padding: 10px 0;
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 5px 0;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: #E5cdd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .logo img {
    width: 60px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.logo picture {
  margin-right: 15px;
}
.logo .logo__txt {
  font-family: sfbl;
  font-size: 32px;
  background: -webkit-radial-gradient(#c7bef4, #6e59d9, #6a54d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1200px) {
  .logo .logo__txt {
    font-size: 20px;
  }
}
.logo .logo__txt2 {
  font-family: sfl;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .logo .logo__txt2 {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .logo .logo__block {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .logo {
    width: calc(100% / 3);
  }
}

.top__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top__menu .menu .menu__item {
  margin-right: 25px;
}
.top__menu .menu .menu__item:nth-last-child(1) {
  margin-right: 0;
}
.top__menu .menu .menu__item .menu__link {
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  font-family: sfm;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.top__menu .menu .menu__item .menu__link::after {
  content: "";
  display: block;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
  width: 0%;
  height: 2px;
}
.top__menu .menu .menu__item .menu__link:hover::after {
  width: 100%;
  height: 2px;
  background: -webkit-radial-gradient(#c7bef4, #6e59d9, #6a54d8);
}

.help__link {
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .help__link {
    width: calc(100% / 3);
  }
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help .help__txt1 {
  font-family: sfl;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
}
.help .help__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help .help__block .help__txt {
  color: #ffffff;
  font-family: sfb;
}
.help .help__block .help__img {
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contacts a {
  color: #03e9f4;
  text-decoration: none;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
}
.header__contacts a:hover {
  color: #ffffff;
}
.header__contacts .telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts .telephone::before {
  content: "";
  -webkit-mask-image: url(../img/call.svg);
          mask-image: url(../img/call.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  background: #ffffff;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.header__contacts .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts .mail::before {
  content: "";
  -webkit-mask-image: url(../img/mail.svg);
          mask-image: url(../img/mail.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  background: #ffffff;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.header__contacts .adr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts .adr::before {
  content: "";
  -webkit-mask-image: url(../img/placeholder.svg);
          mask-image: url(../img/placeholder.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  background: #ffffff;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger span {
  width: 40px;
  height: 3px;
  margin-bottom: 6px;
  background: #ffffff;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}
.burger span:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% / 3);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.mobile__menu {
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
  position: fixed;
  width: 80%;
  height: 100%;
  z-index: 1000;
  background: #f5f5f7;
  top: 0;
  left: -100%;
  overflow: hidden;
  padding: 20px 0;
}
.mobile__menu .top__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile__menu .top__menu .menu .menu__item {
  margin-right: 0px;
  margin-bottom: 10px;
}
.mobile__menu .top__menu .menu .menu__item:nth-last-child(1) {
  margin-right: 0;
}
.mobile__menu .top__menu .menu .menu__item .menu__link {
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  font-family: sfb;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.mobile__menu .top__menu .menu .menu__item .menu__link::after {
  content: "";
  display: block;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
  width: 0%;
  height: 2px;
}
.mobile__menu .top__menu .menu .menu__item .menu__link:hover::after {
  width: 100%;
  height: 2px;
  background: -webkit-radial-gradient(#c7bef4, #6e59d9, #6a54d8);
}

.opened {
  left: 0;
}

.close {
  height: 21px;
}
.close span:nth-child(2) {
  display: none;
}
.close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 26.71px;
  position: relative;
  top: 8px;
}
.close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 26.71px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -20px;
}
@media screen and (max-width: 600px) {
  .services__row {
    margin-right: 0;
  }
}

.service__item {
  width: calc(100% / 2 - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .service__item {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 600px) {
  .service__item {
    width: 100%;
    margin-right: 0;
  }
}

.grey {
  background: #f5f5f7;
}

.black {
  background: #010103;
}
.black .item__title {
  color: #ffffff;
  font-family: sfl;
}

.item__img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  border: 5px solid #ffffff;
}
@media screen and (max-width: 1200px) {
  .item__img {
    width: 200px;
    height: 200px;
  }
}

.item__readmore {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
@media screen and (max-width: 1200px) {
  .item__readmore {
    margin-top: 25px;
  }
}

.item__readmore:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
}

.item__readmore span {
  position: absolute;
  display: block;
}

.item__readmore span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: btn-anim1 3s linear infinite;
          animation: btn-anim1 3s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.item__readmore span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: btn-anim2 3s linear infinite;
          animation: btn-anim2 3s linear infinite;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.item__readmore span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: btn-anim3 3s linear infinite;
          animation: btn-anim3 3s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.item__readmore span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: btn-anim4 3s linear infinite;
          animation: btn-anim4 3s linear infinite;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.item__title {
  font-size: 24px;
  font-family: sfl;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .item__title {
    font-size: 18px;
    min-height: 54px;
    margin-bottom: 5px;
  }
}

.service__title {
  font-size: 36px;
  margin-bottom: 50px;
}
.service__title::after {
  content: "";
  width: 200px;
  height: 2px;
  background: #03e9f4;
  display: block;
}
@media screen and (max-width: 1200px) {
  .service__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.services {
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .services {
    margin-top: 25px;
  }
}

.button__all {
  background: -webkit-radial-gradient(#c7bef4, #6e59d9, #6a54d8);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  padding: 7px 15px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 30px;
  margin-top: 30px;
}